.input {
    width: 90%;
    border: none;
    background-color: #ff3535;
    color: white;
    font-size: 0.9rem;
    font-weight: 700;
    outline: none;
    margin-bottom: 0.5rem;
}
.input::placeholder { 
    color: white;
    opacity: 0.5;
}
  
.input:-ms-input-placeholder {
    color: white;
    opacity: 0.5;
}
  
.input::-ms-input-placeholder { 
    color: white;
    opacity: 0.5;
}
